#tamagotchi-container{
    text-align: center;
    margin-top: 50px;
}

body{
    background-image: url(https://img.freepik.com/free-vector/detailed-jungle-background_23-2148953379.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1696377600&semt=ais);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-size: 100px;
    font-weight: 100;
}

h2{
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    font-weight: 900;
}

p{
    text-align: center;
    font-family: fantasy;
    font-size: 15.5px;
    font-weight: 900;
}

img{
    height: 190px;
    display: block;
    margin:auto;
}

button{
    display: auto;
    font-size: 40p;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#hungry{
    background-color: bisque;
    text-align: center;
    color: black;
}

#sleepiness{
    background-color: bisque;
    text-align: center;
    color: black;
}

#boredom{
    background-color: bisque;
    text-align: center;
    color: black;
}

#lightson{
    background-color:deepskyblue;
    text-align: center;
    color: black;

}

#lightsoff{
    background-color: black;
    text-align: center;
    color: white;

}

@keyframes bounceUP {
    
}

#red-panda{
    
}

